
 
    <h1 id="cseHead">Welcome to CSE Motors!</h1>

    <!-- Hero Section -->
    <section class="hero">
      <img src="/images/vehicles/delorean.jpg" alt="Delorean CSE Motors vehicle" width="100">
      <div class="hero-text">
        <h2>DMC Delorean</h2>
        <div>
          <p>3 cup holders</p>
          <p>Superman Doors</p>
          <p>Fuzzy dicel</p>
        </div>
        <button type="button">Own Today</button>
      </div>
    </section>

        <!-- Reviews Section -->
    <div class="side-by-side">
        <!-- Reviews Section -->
        <section class="reviews">
            <h2>DMC Reviews</h2>
            <div class="review-items">
              <div class="review">
                <p>"So fast it's almost like time travel!"</p>
              </div>
              <div class="review">
                <p>"Driving the Delorean feels like stepping into a sci-fi movie."</p>
              </div>
              
              <div class="review">
                <p>"The most futuristic ride I've ever owned."</p>
              </div>
              <div class="review">
                <p>"Turns heads everywhere I go."</p>
              </div>
            </div>
        </section>
        
          <!-- Upgrades Section -->
        <section class="upgrades">
            <h2>Delorean Upgrades</h2>
            <div class="upgrade-items">
              <div class="upgrade">
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor Upgrade">
                <p>Flux Capacitor</p>
              </div>
              <div class="upgrade">
                <img src="/images/upgrades/flame.jpg" alt="Flame Decals Upgrade">
                <p>Flame Decals</p>
              </div>
              <div class="upgrade">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Upgrade">
                <p>Bumper</p>
              </div>
              <div class="upgrade">
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap Upgrade">
                <p>Hub Cap</p>
              </div>
            </div>
        </section>
    </div>
        



